form(id="form-container", method="get", action="/auth/twitter")
  #button-container
    button(type="submit", name="button-enter")
      span(class="button-intro") 
        p LogIn with Twitter
        i(class="fa fa-twitter fa-lg container-icon-tw") 